* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fdfbf8;
}

main {
  width: 100%;

  .loader {
    /* display: none !important; */
    position: absolute;
    /* position: relative; */
    background-color: #111;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    z-index: 999;

    .reveal {
      overflow: hidden;

      .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        /* background-color: red; */

        .child {
          /* background-color: red; */
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2vw;
          overflow: hidden;
          /* transform: translateY(50%); */
        }
      }
    }

    .loader-heading {
      position: absolute;
      /* text-align: center; */
      top: 5%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    h1 {
      position: absolute;
      width: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background-color: red; */
      font-size: 4.5vw;
      font-weight: 500;

      .mazius {
        font-family: " Mazius Review";
        font-style: italic;
        font-size: 5.5vw;
        color: #14ce92;
      }
    }

    img {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5vw;
    }

    .green-page {
      position: absolute;
      top: 100%;
      background-color: #14ce92;
      height: 100%;
      width: 100%;
    }
  }

  .home {
    /* height: 100vh; this gives error to locomotive */
    width: 100%;
    /* margin-bottom: 50vh; */

    nav {
      width: 100%;
      height: 80px;
      /* background-color: red; */
      padding: 0 5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: #7c7c7d;
        font-size: 1vw;
        line-height: 1.2;

        .line {
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: 1.7px;
          background-color: #7c7c7d;
        }

        .line1 {
          width: 0%;
          left: 0%;
          transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
          transition-delay: 0.2s;
        }
        .line2 {
          width: 100%;
          right: 0%;
          transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
        }
      }
      a:hover .line2 {
        width: 0%;
      }
      a:hover .line1 {
        width: 100%;
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: fit-content;
      /* background-color: red; */
      padding: 0 5vw;

      h1 {
        font-size: 11.5vw;
        font-weight: 500;
        line-height: 1;
        color: #383838;
      }

      .text {
        line-height: 1;
        font-size: 1vw;
        margin-top: -6vw;
        color: #a5a4a4;

        h5 {
          font-weight: 500;
        }
      }

      img {
        margin-bottom: -5vw;
      }

      /* Important for svg */

      svg {
        opacity: 0;
        height: 8vw;
        margin-left: 8vw;
        margin-bottom: -1.8vw;

        path,
        polyline {
          stroke: #14cf93;
        }
      }

      .reveal {
        .parent {
          display: block;
          overflow: hidden;

          .child {
            display: block;
            transform: translateY(100%);
          }
        }
      }

      .designer {
        /* background-color: red; */
        height: 180px;

        .parent {
          height: 100%;
        }
      }
    }

    .about{
      width: 100%;
      height: 100vh;
      padding: 0 5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left{
        width: 30%;

        .title-mobile,.o-mobile{
          display: none;
        }

        p{
          font-size: 2.75vw;
          margin-top: 25vh;
          color: #414141;
          line-height: 1;

          .o-accent {
            font-family: MAZIUS;
            font-style: italic;
            font-weight: 600;
            color: #14ce92;
          }
        }
      }

      .right{
        margin-top: 5vh;
        width: 35%;
        height: 100%;
        position: relative;

        .image-container{
          width: 100%;
          position: absolute;
          z-index: 3;
          top: 0%;
          left: 0%;
          border-radius: 50px;
          overflow: hidden;
          transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
          filter: grayscale();

          &:hover{
            filter: grayscale(0);
          }

          img{
            height: 100%;
            width: 100%;
          }

          &:nth-child(1){
            transform: translate(-70%,5%) rotate(-15deg);
          }
          &:nth-child(2){
            transform: translate(-30%,20%) rotate(-10deg);
          }
          &:nth-child(3){
            transform: translate(0%,40%) rotate(-5deg);
          }
        }
      }
    }
    
    .work {
      width: 100%;
      position: relative;
      /* height: fit-content; */
      background-color: #f2f2f2;
      margin-top: 150px;
      padding: 0vw 5vw;
      padding-bottom: 5vw;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        background-image: url("https://abhishekjha.me/rip.f6d7c4dd.svg");
        background-size: cover;
        left: 0;
        top: 0;
        transform: rotate(-180deg) translateY(55%);
      }

      .services {
        padding-top: 3vw;
        width: 100%;

        .o-ui-arrow {
          width: 5vw;
          path {
            stroke: rgba(65, 65, 65, 0.3);
          }
        }

        div {
          padding-left: 13vw;

          .o-title-small {
            display: block;
            font-size: 12px;
            color: #a2a2a2;
            text-transform: uppercase;
            margin-bottom: 25px;
            line-height: 1.2;

            .o-accent {
              font-family: MAZIUS;
              font-style: italic;
              font-weight: 600;
            }
          }

          p {
            width: 30%;
            font-size: 20px;
            text-transform: uppercase;
            color: #414141;
            line-height: 1.2;
            font-weight: 400;
          }
        }
      }

      hr {
        margin: 18vh 0 24vh 13vw;
      }

      .work-title {
        width: 100%;
        margin-bottom: 22vh;
        padding-left: 13vw;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        div {
          display: flex;
          align-items: end;
          gap: 2vw;

          h2 {
            height: fit-content;
            font-size: 120px;
            font-weight: 400;
            letter-spacing: -2px;
            line-height: 0.8;
            display: flex;
            align-items: baseline;
            gap: 1vw;
            color: #383838;

            .o-accent {
              font-family: MAZIUS;
              font-style: italic;
              font-weight: 600;
              color: #14cf93;
            }

            span.child {
              display: flex;
            }
          }

          p {
            font-size: 20px;
          }
        }

        .o-ui-arrow {
          width: 5vw;
          margin-right: 2vw;
          transform: rotate(90deg);
          path {
            stroke: rgba(65, 65, 65, 0.3);
          }
        }
      }

      .projects-wrap {
        width: 100%;

        .peoject-row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: end;
          margin-bottom: 16vh;

          .width-1 {
            position: relative;
            width: 55%;
            border-radius: 40px;
            overflow: hidden;

            img {
              width: 105%;
              object-fit: cover;
            }

            .project-info {
              width: auto;
              position: absolute;
              bottom: 0%;

              svg {
                width: 50px;
              }
            }
          }

          .width-2 {
            position: relative;
            width: 32%;
            border-radius: 40px;
            overflow: hidden;

            img {
              width: 100%;
            }

            .project-info {
              width: auto;
              position: absolute;
              bottom: 0%;

              svg {
                width: 50px;
              }
            }
          }

          .width-3 {
            position: relative;
            width: 55%;
            left: 50%;
            transform: translate(-50%, 0%);
            border-radius: 40px;
            overflow: hidden;

            img {
              width: 100%;
            }

            .project-info {
              width: auto;
              position: absolute;
              bottom: 0%;

              svg {
                width: 50px;
              }
            }
          }

          .width-5 {
            position: relative;
            width: 55%;
            border-radius: 40px;
            overflow: hidden;

            img {
              width: 105%;
              object-fit: cover;
            }

            .project-info {
              width: auto;
              position: absolute;
              bottom: 0%;

              svg {
                width: 50px;
              }
            }
          }

          .width-4 {
            position: relative;
            width: 32%;
            border-radius: 40px;
            transform: translateY(42%);
            overflow: hidden;

            img {
              width: 100%;
            }

            .project-info {
              width: auto;
              position: absolute;
              bottom: 0%;

              svg {
                width: 50px;
              }
            }
          }
        }

        .c-archive {
          margin-left: 65.4%;
          margin-top: 30vh;

          .o-title-small {
            display: block;
            font-size: 12px;
            color: #a2a2a2;
            text-transform: uppercase;
            margin-bottom: 25px;
          }

          ul {
            list-style: none;

            li {
              margin: 5px 0;

              a {
                font-size: 20px;
                color: #383838;
                text-decoration: none;
                position: relative;

                .line {
                  position: absolute;
                  bottom: 0%;
                  width: 100%;
                  height: 2px;
                  background-color: #7c7c7d;
                }

                .line1 {
                  width: 0%;
                  left: 0%;
                  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
                  transition-delay: 0.2s;
                }
                .line2 {
                  width: 100%;
                  right: 0%;
                  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
                }

                &:hover .line2 {
                  width: 0%;
                }
                &:hover .line1 {
                  width: 100%;
                }
              }

              &::after {
                content: "🡥";
                display: inline-block;
                width: 10px;
                height: 10px;
                padding-left: 5px;
                opacity: 0;
                transition: .6s;
                color: #14cf93;
                transition-timing-function: cubic-bezier(0,.89,.41,1);
                transform: translateY(0);
              }

              &:hover::after {
                opacity: 1;
                transform: translateY(-2px);
              }
            }
          }
        }
      }

      .c-play-btn{
        display: block;
        position: relative;
        width: 100%;
        text-decoration: none;
        border: 1px solid rgba(150,148,148,.4);
        margin-top: 25vh ;
        padding: 24px 0;
        font-size: 20px;
        border-radius: 100px;
        color: #414141;
        cursor: pointer;
        overflow: hidden;

        .button__bg{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0%;
          background-color: white;
          height: 100%;
          border-radius: 200px;
          opacity: 0;
          transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover .button__bg{
          width: 100%;
          opacity: 1;
        }

        &:hover span{
          color: #111;
          font-weight: 500;
        }

        & > span{
          display: block;
          text-align: center;
          position: relative;
          z-index: 2;
        }

        .o-accent {
          font-family: MAZIUS;
          font-style: italic;
          font-weight: 600;
        }

        
      }

      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 150px;
        background-image: url("https://abhishekjha.me/rip.f6d7c4dd.svg");
        background-size: cover;
        left: 0;
        bottom: 0;
        transform: translateY(60%);
        /* background-color: red; */
      }
    }

    .demo{
        width: 100%;
        margin-top: 50vh;
        height: 100vh;
    }
  }
}
